/backups
/auto-save-list
/auto-saves
/games
/url
/elpa
/quelpa
/swank
/server
repl-port
tierack.el
/hosts/*.el
.chicken-scheme-symbols-dump.el
/tramp
unpackaged-lisp/
/ido.last
/%backup%~
/bookmarks
/eshell
request/
org-gcal/
.trello
/.org-id-locations
/emojis/
