body {
    font-family: "Avenir Next", sans-serif;
    color: #000;
    background-color: #fdfdfd;
    padding: 0px 20px;
    font-size: 18px;
    width: 70%;
    max-width: 50rem;
    margin: auto;
    line-height: 1.8rem;
}

h1 {
    line-height: 2.8rem;
}

ul, ol {
    padding-left: 20px;
}

:not(pre) > code {
    background-color: #f7f7f7;
    padding: 4px;
    border-radius: 3px;
    font-size: 15px;
}

:not(pre) > code:hover {
    background-color: #eee;
}

pre {
  background-color: #f7f7f7;
  font-size: 13px;
  line-height: 1.4em;
  padding: 2em;
}

pre:hover {
  background-color: #eee;
}

blockquote {
  border-left: 2px solid #aaa;
  margin-left: 0;
  padding-left: 2rem;
}

img[src*="#width-100"] {
  width: 100%;
}
